
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.hero #image{
    height: 250 px;
    width: 400px;
    display: block;
    margin : auto;
    border-radius: 50%;
}

.hero{
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(126, 5, 156);
    text-align: center;
    padding: 3rem
    
}

.header #welcome-heading{
    color: rgb(8, 8, 8);
}

#translation-area{
    background-color: rgb(197, 82, 5);
    text-align: center;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3rem;
    border-radius: 1rem;
}

#translation-area #english-section textarea{
    height: 150px;
    width: 500px;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding:1rem;
    font-weight: .25rem;
    background-color:cyan
}

#translation-area #english-section #english-heading{
    font-size: 2.5rem;
    font-style: oblique;
    margin-bottom: 1rem;
}

#translation-area #yoda-section textarea{
    height: 150px;
    width: 500px;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding:1rem;
    font-weight: .25rem;
background-color: cyan;
}


#translation-area #yoda-section #yoda-heading{
    font-size: 2.5rem;
    font-style: oblique;
    margin-bottom: 1rem;
}

#footer{
    background-color:rgb(126, 5, 156);
    margin:2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding:2.5rem;
    border-radius: 1rem;
}

#translation-area #english-section #english-translate-button{
    padding: .75rem;
    padding-left:3rem;
    padding-right:3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(126, 5, 156);
    font-weight: bold;
    

}

