
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    background-color: rgb(245, 242, 242);
    font-family: 'Montserrat', sans-serif;
}

.hero{
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(136, 101, 145);
    text-align: center;
    padding: 3rem;
    font-size: 20px;
    color: white;
    
}


#translation-area{
    
    text-align: center;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3rem;
    border-radius: 1rem;
}

#translation-area #english-section textarea{
    height: 150px;
    width: 500px;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding:1rem;
    font-weight: .25rem;
}

#translation-area #english-section #english-heading{
    font-size: 2.5rem;
    
    margin-bottom: 1rem;
}

#translation-area #yoda-section textarea{
    height: 150px;
    width: 500px;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding:1rem;
    font-weight: .25rem;

}


#translation-area #yoda-section #yoda-heading{
    font-size: 2.5rem;
}

#footer{
    background-color:rgb(136, 101, 145);
    margin:2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding:2.5rem;
    border-radius: 1rem;
    color: white;
}

#translation-area #english-section #english-translate-button{
    padding: .75rem;
    padding-left:3rem;
    padding-right:3rem;
    margin-top: 3rem;
    border-radius: 1rem;
    border:3px solid rgb(136, 101, 145);
    
    

}



